# suscriptor

In [7]:
import ssl
import sys
import psycopg2
import paho.mqtt.client
import json
from sqlalchemy import create_engine
import pandas as pd
import sub

# conexión con la base de datos

In [8]:
host='echo.db.elephantsql.com'
user ='fvrwybpi'
password='Vm7b24osfoJddQLWdc6VotSmYBpOn0UT'
dbname='fvrwybpi'

In [9]:
connection = psycopg2.connect(host = host,
                                user= user, password =password,
                                dbname= dbname)

# creación de tablas

In [10]:
%%time
query_file = open("Data/Tablas.sql",'r') 
query = query_file.read()
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

Wall time: 3.5 s

# borrar data

In [11]:
%%time
query_file = open("Data/Delete-Data.sql",'r') 
query = query_file.read()
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

Wall time: 939 ms

# agregar data de los clientes

In [12]:
query_file = open("Data/Data.sql",'r', encoding='utf-8') 
query = query_file.read()
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

# pretty select

In [4]:
def pretty_select(query):
    db_connection = 'postgres://{}:{}@{}:5432/{}'.format(user, password, host, dbname)
    try:
        engine = create_engine(db_connection)
        dataframe = pd.read_sql_query(query, engine)
    except Exception as e:
        print('Error en el query:', e)
    else:
        engine.dispose()
        return dataframe

# queries

## 1.

Cuales son los clientes conocidos y desconocidos que mas han comprado en cada una de las tiendas.
Este query trae los clientes que mas han comprado por sucursal y que estan dentro del programa de fidelidad y cuenta cada vez que compran por sucursal, se agrupan por sucusal se ordenan por cantidad de veces que compran. Luego del union vienen los clientes que no estan en el plan de fidelidad.

In [5]:
query = """ 
select count(cliente.id_cliente), cliente.id_cliente, cliente.nombre, sucursal.ubicacion from cliente 
join factura on cliente.id_cliente = factura.id_cliente join sucursal on factura.id_sucursal = sucursal.id_sucursal 
where cliente.id_cliente in (select distinct id_cliente from cuenta_programa_fidelidad) group by 2,3,4 order by 1 ASC limit 3"""
pretty_select(query)

Empty DataFrame
Columns: [count, id_cliente, nombre, ubicacion]
Index: []

In [6]:
query = """
select count(cliente.id_cliente), cliente.id_cliente, cliente.nombre, sucursal.ubicacion from cliente 
join factura on cliente.id_cliente = factura.id_cliente join sucursal on factura.id_sucursal = sucursal.id_sucursal 
where cliente.id_cliente not in (select distinct id_cliente from cuenta_programa_fidelidad) group by 2,3,4 order by 1 ASC limit 3"""
pretty_select(query)

   count  id_cliente   nombre          ubicacion
0      1          26  Chariot  Los Palos Grandes

## 2.

Diga cual es la categoría de producto que menos se ha vendido en cada una de las tiendas.
Este query cuenta la cantidad de veces que un id_producto sale en un detalle factura, es agrupado por categoria, ordenado de menor a mayor y tiene un limite de 1. Para obtener la categoria que menos sale.

In [7]:
query = """
select count(producto.categoria), producto.categoria, factura.id_sucursal from producto 
join detalle_factura on producto.id_producto = detalle_factura.id_producto join factura 
on detalle_factura.id_factura = factura.id_factura where factura.id_sucursal = 1 group by 2,3 order by 1 ASC limit 1
"""
pretty_select(query)

Empty DataFrame
Columns: [count, categoria, id_sucursal]
Index: []

In [8]:
query = """
select count(producto.categoria), producto.categoria, factura.id_sucursal from producto 
join detalle_factura on producto.id_producto = detalle_factura.id_producto join factura 
on detalle_factura.id_factura = factura.id_factura where factura.id_sucursal = 2 group by 2,3 order by 1 ASC limit 1
"""
pretty_select(query)

   count       categoria  id_sucursal
0      1  No Perecederos            2

## 3.

Cuales es el top 5 de productos que mas se han vendido en cada una de las tiendas. Este query trae la cantidad de productos vendidos, el id del producto, el nombre, y la ubicacion. Los agrupa por id,nombre y ubicacion y se ordena de mayor a menor por la cantidad de producto y se limit a 5 del top 5.

In [9]:
query = """
select count(producto.id_producto), producto.id_producto, producto.nombre, factura.id_sucursal from producto 
join detalle_factura on producto.id_producto = detalle_factura.id_producto join factura 
on detalle_factura.id_factura = factura.id_factura where factura.id_sucursal = 1 group by 2,3,4 order by 1 DESC limit 5
"""
pretty_select(query)

Empty DataFrame
Columns: [count, id_producto, nombre, id_sucursal]
Index: []

In [10]:
query = """
select count(producto.id_producto), producto.id_producto, producto.nombre, factura.id_sucursal from producto 
join detalle_factura on producto.id_producto = detalle_factura.id_producto join factura 
on detalle_factura.id_factura = factura.id_factura where factura.id_sucursal = 2 group by 2,3,4 order by 1 DESC limit 5
"""
pretty_select(query)

   count  id_producto nombre  id_sucursal
0      1           30    Sal            2

## 4.

Diga todos los clientes que en los últimos 7 días a partir de la ejecución del query han comprado solo en una tienda y los que han comprado en las dos tiendas (realice queries distintos).

In [14]:
query ="""
select cliente.id_cliente, cliente.nombre, cliente.apellido from cliente 
where exists (select distinct id_cliente from factura where factura.id_cliente = cliente.id_cliente and 
factura.fecha_hora > current_date - interval '7 days' group by 1 having count(distinct id_sucursal) = 1)
"""
pretty_select(query)

   id_cliente   nombre   apellido
0          26  Chariot  Karpinski

In [15]:
query ="""
select cliente.id_cliente, cliente.nombre, cliente.apellido from cliente 
where exists (select distinct id_cliente from factura where factura.id_cliente = cliente.id_cliente 
and factura.fecha_hora > current_date - interval '7 days' group by 1 having count(distinct id_sucursal) > 1)
"""
pretty_select(query)

Empty DataFrame
Columns: [id_cliente, nombre, apellido]
Index: []

## 5.

Haga un análisis por estante de cuales categorías de producto tienen mayor rotación de inventario y haga una propuesta de modificación

In [7]:
query ="""
SELECT COUNT(I.id_producto), P.categoria, A.id_estante FROM inventario AS I INNER JOIN producto AS P ON I.id_producto = P.id_producto 
INNER JOIN producto_asignado AS A ON I.id_producto = A.id_producto 
GROUP BY A.id_estante, P.categoria ORDER BY COUNT(I.id_producto) DESC;
"""
pretty_select(query)

    count       categoria  id_estante
0       3         Lácteos           1
1       3     Charcutería           7
2       3        Cereales           6
3       3     Charcutería           2
4       3         Bebidas           5
5       3       Vegetales          13
6       3  No Perecederos          12
7       3         Bebidas           4
8       3  No Perecederos          11
9       2       Panadería           3
10      2          Frutas          15
11      2          Frutas          14
12      2       Enlatados           9
13      2       Enlatados          10
14      1         Frescos          16
15      1        Galletas           9
16      1       Vegetales          14
17      1        Galletas           8
18      1     Charcutería           8
19      1          Frutas          16
20      1         Lácteos           3
21      1  No Perecederos          10

## 6.

Encuentre a todos los clientes que han pagado con 2 bancos distintos en la ultima semana. Enumérelos y diga si son parte del programa de afiliados.

In [13]:
query ="""
select cliente.id_cliente, cliente.nombre, cliente.apellido from cliente 
where exists (select distinct id_cliente from factura where factura.id_cliente = cliente.id_cliente 
and factura.fecha_hora > current_date - interval '7 days' group by 1 having count(distinct banco) > 1)
"""
pretty_select(query)

Empty DataFrame
Columns: [id_cliente, nombre, apellido]
Index: []

# procedimientos almacenados

## 1.

Realizar compra: Esto procedimiento almacenado debe tener como parámetro una lista de productos con su cantidad, el banco por donde se va a cancelar y un cliente. Debe tener toda la lógica para ingresar en las distintas tablas la compra realizada.

In [7]:
query="""create or replace function realizar_pago(n_cuenta integer, id_cliente integer, banco varchar(10), 
id_sucursal integer, id_factura integer, total numeric(8,0), descuento numeric(8,0), total_pago numeric(8,0), fecha_hora timestamp) returns VOID AS
    $$
    BEGIN
        INSERT into factura (id_factura, id_cliente, fecha_hora, banco, id_sucursal, total, descuento, total_pago) VALUES
        (id_factura, id_cliente, fecha_hora, banco, id_sucursal, total, descuento, total_pago);
    END;
    $$
language plpgsql;"""


cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

## 2.

Haga un procedimiento almacenado que al final del día saque un estado de cuenta de cuanto dinero se tiene en cada banco.

In [8]:
query="""create or replace function estado_cuenta () returns table(banco varchar(10),total_pago numeric) AS
    $$
    BEGIN
    return QUERY 
    (SELECT factura.banco, SUM(factura.total_pago) FROM factura GROUP BY factura.banco); 
    END;
    $$
language plpgsql;"""


cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

In [16]:
query="""select estado_cuenta()"""
pretty_select(query)

Empty DataFrame
Columns: [estado_cuenta]
Index: []

## 3.

Haga un procedimiento almacenado que al final del mes saque un estado de cuenta de los puntos de todos los afiliados al programa de fidelidad que compraron ese mes.

In [9]:
query="""create or replace function estado_afiliados () returns table(no_cuenta integer,
          id_cliente integer,puntos integer) AS
    $$
    BEGIN
    return QUERY
    SELECT cuenta_programa_fidelidad.no_cuenta,cuenta_programa_fidelidad.id_cliente,
    cuenta_programa_fidelidad.puntos FROM cuenta_programa_fidelidad,factura 
    WHERE (NOW()- INTERVAL '30' DAY) <= fecha_hora::Timestamp::Date; 
    END;
    $$
language plpgsql;"""


cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

In [10]:
query="""select estado_afiliados()"""
pretty_select(query)

Empty DataFrame
Columns: [estado_afiliados]
Index: []

# extras

## 4.

Procedimiento almacenado que retorna True si un cliente pertenece al programa de fidelidad.

In [10]:
query="""
CREATE OR REPLACE FUNCTION verificar_pertenece_programa(id integer) RETURNS BOOLEAN AS
$$
DECLARE pertenece BOOLEAN;
BEGIN
    IF id = (SELECT id_cliente FROM cuenta_programa_fidelidad WHERE id_cliente = id) 
    THEN pertenece = True;
    ELSE
        pertenece = False;
    END IF;
    
    RETURN pertenece;
END
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

## 5.

Procedimiento almacenado que retorna True si la cantidad restante de productos en un estante es menor al 20% de su capacidad.

In [11]:
query="""
CREATE OR REPLACE FUNCTION verificar_cantidad(id integer) RETURNS BOOLEAN AS
$$
DECLARE recargar_estante BOOLEAN;
BEGIN
    SELECT (SUM(cantidad_restante) < 
    (SELECT capacidad*0.20 FROM estante_inteligente WHERE id_estante = id))
    INTO recargar_estante FROM producto_asignado WHERE id_estante = id;
    
    RETURN recargar_estante;
END
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

## 6.

Procedimiento almacenado que llena un estante.

In [12]:
query="""
CREATE OR REPLACE FUNCTION llenar_estante(id integer, fecha_hora timestamp) RETURNS VOID AS
$$
BEGIN
    WITH cantidades_iniciales(id_p, cantidad_i, cantidad_r) AS (SELECT id_producto, cantidad_inicial, cantidad_restante FROM producto_asignado 
    WHERE id_estante = id)
    INSERT INTO producto_asignado(id_producto, fecha_hora, id_estante, cantidad_inicial, cantidad_restante) 
    VALUES (
    (SELECT C.id_p FROM cantidades_iniciales AS C WHERE id_producto = C.id_p),
    fecha_hora, 
    id,
    (SELECT C.cantidad_i FROM cantidades_iniciales AS C WHERE id_producto = C.id_p),
    (SELECT C.cantidad_i FROM cantidades_iniciales AS C WHERE id_producto = C.id_p));
END
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

## 7.

Procedimiento almacenado que actualiza la cantidad restante de un producto de un estante.

In [13]:
query="""
CREATE OR REPLACE FUNCTION update_estante(id_p integer, cant integer, fecha_hora timestamp) RETURNS VOID AS
$$
BEGIN
    INSERT INTO producto_asignado(id_producto, fecha_hora, id_estante, cantidad_inicial, cantidad_restante) 
    VALUES (id_p, fecha_hora, (SELECT id_estante FROM producto_asignado WHERE id_producto = id_p LIMIT 1), 
    (SELECT cantidad_inicial FROM producto_asignado WHERE id_producto = id_p LIMIT 1), 
    (SELECT cantidad_inicial-cant FROM producto_asignado WHERE id_producto = id_p LIMIT 1)); 
END
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

In [14]:
query="""
CREATE OR REPLACE FUNCTION verificar_cliente(id integer) RETURNS BOOLEAN AS
$$
DECLARE is_cliente BOOLEAN;
BEGIN
    IF 
        id IN (SELECT id_cliente FROM cliente)
        THEN is_cliente = True;
    ELSE
        is_cliente = False;
    
    END IF;
    
    RETURN is_cliente;
END
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

## 8.

In [15]:
query="""
CREATE OR REPLACE FUNCTION verificar_cola(id integer) RETURNS BOOLEAN AS
$$
DECLARE esta_en_cola BOOLEAN;
BEGIN
    IF 
        id IN (SELECT id_cliente FROM cliente_charcuteria)
        THEN esta_en_cola = True;
    ELSE
        esta_en_cola = False;
    
    END IF;
    
    RETURN esta_en_cola;
END
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

# triggers

## 1.

Cada vez que entre un cliente conocido, se debe agregar 1 punto a su estado de cuenta del programa de fidelidad.

In [16]:
query="""
CREATE OR REPLACE FUNCTION add_punto_programa() RETURNS TRIGGER AS
$$
BEGIN
    IF NEW.id_cliente IN (SELECT id_cliente FROM visita) THEN 
    UPDATE cuenta_programa_fidelidad SET puntos = (SELECT puntos+1 FROM cuenta_programa_fidelidad WHERE id_cliente = NEW.id_cliente) 
    WHERE id_cliente = NEW.id_cliente;
    END IF;
    
    RETURN NEW;
END;
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

In [17]:
query="""
CREATE TRIGGER add_punto_programa
  AFTER INSERT 
  ON factura
  FOR EACH ROW
  EXECUTE PROCEDURE add_punto_programa();
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

## 2.

Cada vez que un cliente conocido realice una compra, se le agregaran los puntos en su programa de fidelidad.

In [18]:
query="""
CREATE OR REPLACE FUNCTION add_puntos() RETURNS TRIGGER AS
$$
BEGIN
    IF (SELECT verificar_pertenece_programa(NEW.id_cliente)) = True 
    THEN UPDATE cuenta_programa_fidelidad SET puntos = (SELECT puntos+(NEW.total_pago*0.1) FROM cuenta_programa_fidelidad 
    WHERE no_cuenta = (SELECT no_cuenta FROM cuenta_programa_fidelidad WHERE id_cliente = NEW.id_cliente)) 
    WHERE no_cuenta = (SELECT no_cuenta FROM cuenta_programa_fidelidad WHERE id_cliente = NEW.id_cliente);
    END IF;
    
    RETURN NEW;
END;
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

In [19]:
query="""
CREATE TRIGGER add_puntos
  AFTER INSERT 
  ON factura
  FOR EACH ROW
  EXECUTE PROCEDURE add_puntos();
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

## 3.

Si un cliente desconocido con la misma cedula compra mas de 4 veces, automáticamente se agregará al programa de fidelidad.

In [20]:
query="""
CREATE OR REPLACE FUNCTION add_to_programa() RETURNS TRIGGER AS
$$
BEGIN
    IF (SELECT COUNT(id_cliente) > 4 FROM factura) THEN 
    INSERT INTO cuenta_programa_fidelidad (no_cuenta, id_cliente, fecha_suscripcion, fecha_finalizacion) VALUES 
    ((SELECT no_cuenta+1 FROM cuenta_programa_fidelidad ORDER BY no_cuenta DESC LIMIT 1), NEW.id_cliente, DATE(NEW.fecha_hora), 
    DATE(NEW.fecha_hora)+30);
    END IF;
    
    RETURN NEW;
END;
$$
  LANGUAGE 'plpgsql';
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

In [21]:
query="""
CREATE TRIGGER add_to_programa
  AFTER INSERT 
  ON factura
  FOR EACH ROW
  EXECUTE PROCEDURE add_to_programa();
"""
cur = connection.cursor()
cur.execute(query)
cur.close()
connection.commit()

# extras

## 4.

Si la cantidad de producto en el inventario es suficiente para llenar el estante se procede a realizar el update, si no lanza un excepción.

# preguntas

## 1.

¿Cuáles son las categorías de producto que se venden mejor en cada una de las tiendas? Use un pivot table para razonar su respuesta.

In [8]:
query="""SELECT * FROM crosstab($$
select detalle_factura.id_producto, producto.categoria,  factura.id_sucursal from factura join detalle_factura on
factura.id_factura = detalle_factura.id_factura join producto on detalle_factura.id_producto = producto.id_producto where factura.id_sucursal = 1 $$, 
$$ SELECT 'Lácteos' UNION ALL
  SELECT 'Charcutería' UNION ALL
  SELECT 'Panadería' UNION ALL
  SELECT 'Bebidas' UNION ALL
  SELECT 'Cereales' UNION ALL
  SELECT 'Galletas' UNION ALL
  SELECT 'No Perecederos' UNION ALL
SELECT 'Vegetales' UNION ALL 
SELECT 'Frutas' UNION ALL
 SELECT 'Frescos' UNION ALL  
SELECT 'Enlatados' $$
) AS ct(categoria text, Lácteos text, Charcutería text, Panadería text, Bebidas text, Cereales text,
Galletas text, No_Perecederos text, Vegetales text, Frutas text, Frescos text, Enlatados text);"""
pretty_select(query)

,categoria,lácteos,charcutería,panadería,bebidas,cereales,galletas,no_perecederos,vegetales,frutas,frescos,enlatados
0,1,1,None,None,None,None,None,None,None,None,None,None
1,7,1,None,None,None,None,None,None,None,None,None,None
2,9,None,None,1,None,None,None,None,None,None,None,None
3,11,None,None,None,1,None,None,None,None,None,None,None
4,27,None,None,None,None,None,None,None,None,None,None,1
5,28,None,None,None,None,None,None,None,None,None,None,1

In [9]:
query="""SELECT * FROM crosstab($$
select detalle_factura.id_producto, producto.categoria,  factura.id_sucursal from factura join detalle_factura on
factura.id_factura = detalle_factura.id_factura join producto on detalle_factura.id_producto = producto.id_producto where factura.id_sucursal = 2 $$, 
$$ SELECT 'Lácteos' UNION ALL
  SELECT 'Charcutería' UNION ALL
  SELECT 'Panadería' UNION ALL
  SELECT 'Bebidas' UNION ALL
  SELECT 'Cereales' UNION ALL
  SELECT 'Galletas' UNION ALL
  SELECT 'No Perecederos' UNION ALL
SELECT 'Vegetales' UNION ALL 
SELECT 'Frutas' UNION ALL
 SELECT 'Frescos' UNION ALL  
SELECT 'Enlatados' $$
) AS ct(categoria text, Lácteos text, Charcutería text, Panadería text, Bebidas text, Cereales text,
Galletas text, No_Perecederos text, Vegetales text, Frutas text, Frescos text, Enlatados text);"""
pretty_select(query)

,categoria,lácteos,charcutería,panadería,bebidas,cereales,galletas,no_perecederos,vegetales,frutas,frescos,enlatados
0,19,None,2,None,None,None,None,None,None,None,None,None
1,21,None,2,None,None,None,None,None,None,None,None,None
2,30,None,None,None,None,None,None,2,None,None,None,None
3,32,None,None,None,None,None,None,2,None,None,None,None
4,34,None,None,None,None,None,None,2,None,None,None,None
5,41,None,None,None,None,None,None,None,None,2,None,None

## 2.

¿Qué banco, categoría de producto y tienda prefieren los clientes de nuestro programa de afiliados? Razone su respuesta.

In [6]:
query= """
select count(factura.id_factura), factura.banco from factura join cuenta_programa_fidelidad on 
factura.id_cliente = cuenta_programa_fidelidad.id_cliente group by 2;
"""
pretty_select(query)

   count       banco
0      2     Banesco
1      6  Provincial
2      2   Mercantil

In [7]:
query= """
select count(factura.id_factura), factura.id_sucursal from factura join cuenta_programa_fidelidad on 
factura.id_cliente = cuenta_programa_fidelidad.id_cliente group by 2;
"""
pretty_select(query)

   count  id_sucursal
0      4            1
1      6            2

In [8]:
query= """
select count(detalle_factura.id_producto), producto.categoria from factura join detalle_factura on factura.id_factura = detalle_factura.id_factura 
join cuenta_programa_fidelidad on factura.id_cliente = cuenta_programa_fidelidad.id_cliente 
join producto on producto.id_producto = detalle_factura.id_producto group by 2;
"""
pretty_select(query)

   count       categoria
0      2         Bebidas
1      3     Charcutería
2      2       Enlatados
3      1          Frutas
4      3         Lácteos
5      6  No Perecederos
6      1       Panadería

## 3.

¿Qué horas del día son más rentable para cada una de las tiendas? Razone su respuesta.

In [9]:
query="""SELECT COUNT(id_cliente), fecha_hora FROM factura WHERE id_sucursal = 1 GROUP BY id_cliente,fecha_hora """
pretty_select(query)

   count                 fecha_hora
0      1 2020-06-21 22:00:00.073816
1      2 2020-06-21 22:00:00.073816
2      1 2020-06-21 22:00:00.073816

In [10]:
query="""SELECT COUNT(id_cliente), fecha_hora FROM factura WHERE id_sucursal = 2 GROUP BY id_cliente,fecha_hora """
pretty_select(query)

   count                 fecha_hora
0      2 2020-06-21 22:00:00.073816
1      1 2020-06-21 22:00:00.073816
2      1 2020-06-22 01:00:00.073816
3      1 2020-06-21 22:00:00.073816
4      1 2020-06-22 05:00:00.073816

# conectar e iniciar suscriptor

In [13]:
## se crea un suscriptor y se conecta 
suscriptor = sub.suscriptor(connection)
suscriptor.conectar_suscriptor()

connected (b'')
{'id_producto': 8, 'cantidad': 15, 'id_estante': 3, 'sucursal': 'sucursal1', 'hora': '2020-06-22 15:00:00.242907'}
---------------------------------------------------------
datos guardados
{'sucursal': 'sucursal1', 'id_cliente': 22, 'id_sucursal': 1}
---------------------------------------------------------
{'sucursal': 'sucursal1', 'id_cliente': 46, 'id_sucursal': 1}
---------------------------------------------------------
{'id_producto': 30, 'cantidad': 2, 'id_estante': 11, 'sucursal': 'sucursal2', 'hora': '2020-06-22 15:00:00.242907'}
---------------------------------------------------------
datos guardados
{'sucursal': 'sucursal1', 'id_cliente': 2, 'id_sucursal': 1}
---------------------------------------------------------
{'id_producto': 33, 'cantidad': 32, 'id_estante': 12, 'sucursal': 'sucursal2', 'hora': '2020-06-22 15:00:00.242907'}
---------------------------------------------------------
datos guardados
{'sucursal': 'sucursal1', 'id_cliente': 42, 'id_sucursal': 1}
---------------------------------------------------------
{'id_producto': 21, 'cantidad': 19, 'id_estante': 10, 'sucursal': 'sucursal2', 'hora': '2020-06-22 15:00:00.242907'}
---------------------------------------------------------
datos guardados
{'id_producto': 26, 'cantidad': 15, 'id_estante': 9, 'sucursal': 'sucursal2', 'hora': '2020-06-22 15:00:00.242907'}
---------------------------------------------------------
datos guardados
{'id_producto': 41, 'cantidad': 40, 'id_estante': 14, 'sucursal': 'sucursal2', 'hora': '2020-06-22 16:00:00.242907'}
---------------------------------------------------------
datos guardados
{'sucursal': 'sucursal2', 'id_cliente': 31, 'id_sucursal': 2}
---------------------------------------------------------
{'sucursal': 'sucursal2', 'id_cliente': 44, 'id_sucursal': 2}
---------------------------------------------------------
{'id_producto': 7, 'cantidad': 3, 'id_estante': 3, 'sucursal': 'sucursal1', 'hora': '2020-06-22 19:00:00.242907'}
---------------------------------------------------------
datos guardados
{'id_producto': 7, 'cantidad': 7, 'id_estante': 3, 'sucursal': 'sucursal1', 'hora': '2020-06-22 20:00:00.242907'}
---------------------------------------------------------

CardinalityViolation: more than one row returned by a subquery used as an expression
CONTEXT:  SQL statement "INSERT INTO producto_asignado(id_producto, fecha_hora, id_estante, cantidad_inicial, cantidad_restante)
    VALUES (id_p, fecha_hora, (SELECT id_estante FROM producto_asignado WHERE id_producto = id_p),
    (SELECT cantidad_inicial FROM producto_asignado WHERE id_producto = id_p LIMIT 1),
    (SELECT cantidad_inicial-cant FROM producto_asignado WHERE id_producto = id_p LIMIT 1))"
PL/pgSQL function update_estante(integer,integer,timestamp without time zone) line 3 at SQL statement